<section class="footer">
    <div class="footer-help">
        <h3>Butuh Bantuan ?</h3>

        <div class="footer-help-wrapper">
            <div class="footer-help-item">
                <div class="footer-help-icon">
                    <i class="bl-telephone"></i>
                </div>
                <div class="footer-help-detail">
                    <div class="footer-help-title">Telepon</div>
                    <div class="footer-help-content">021 - 8066 7878</div>
                </div>
                <div class="footer-help-action">
                    <a href="tel:+622180667878">hubungi</a>
                </div>
            </div>
            <div class="footer-help-item">
                <div class="footer-help-icon">
                    <i class="bl-email"></i>
                </div>
                <div class="footer-help-detail">
                    <div class="footer-help-title">Email</div>
                    <div class="footer-help-content">support@blanja.com</div>
                </div>
                <div class="footer-help-action">
                    <a href="mailto:support@blanja.com">kirim email</a>
                </div>
            </div>
            <div class="footer-help-item">
                <div class="footer-help-icon">
                    <i class="bl-store"></i>
                </div>
                <div class="footer-help-detail">
                    <div class="footer-help-title"><a href="mailto:support@blanja.com">kirim email</a></div>                    
                </div>
            </div>
        </div>
        
        <h3>Metode Pembayaran</h3>
        <div class="footer-payment">
            <img src="<%=profile.staticUrl%>/assets/images/common/payment-list.png" alt="">
        </div>


        <h3>Pengiriman</h3>
        <div class="footer-logistic">
            <img src="<%=profile.staticUrl%>/assets/images/common/logistic.png" alt="">
        </div>

        <h3>Keamanan</h3>
        <div class="footer-security">
            <img src="<%=profile.staticUrl%>/assets/images/common/safety.png" alt="">
        </div>

        <h3>Penghargaan</h3>
        <div class="footer-awards">
            <img src="<%=profile.staticUrl%>/assets/images/common/awards.png" alt="">
        </div>

        <div class="footer-link">
            <ul class="footer-link-list">
                <li><a href="//m.blanja.com/foot/perjanjianPengguna">Perjanian Pengguna</a></li>
                <li><a href="//m.blanja.com/foot/kebijakanPrivasi">Kebijakan Privasi</a></li>
                <li><a href="//m.blanja.com/kp/term-condition-blanja">Syarat & Ketentuan</a></li>
            </ul>
        </div>

        <h3 class="text-center">Kerjasama Strategis</h3>
        <div class="footer-partner">
            <img src="<%=profile.staticUrl%>/assets/images/common/blanja-partner.png" alt="">
        </div>

        <div class="footer-copyright">Copyright 2018 &copy; Metraplasa. All Rights Reserved</div>
    </div>
</section>